<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519188567395-4i2ccakrlid57jdvikgrnapja9m2ffhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519188567395-4i2ccakrlid57jdvikgrnapja9m2ffhh</string>
	<key>API_KEY</key>
	<string>AIzaSyDEFdFeHI1tlzj2vd6mTpuDz-vuTZ6U6zw</string>
	<key>GCM_SENDER_ID</key>
	<string>519188567395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BuzzwareTech.Bebeloo</string>
	<key>PROJECT_ID</key>
	<string>bebelo-d62b2</string>
	<key>STORAGE_BUCKET</key>
	<string>bebelo-d62b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519188567395:ios:933e20bc213b37e5c56f56</string>
</dict>
</plist>